{{{ article }}}
<a href="#top" style="position:fixed;bottom:2rem;right:2rem;text-decoration:none;padding:0.5rem;background:black;background:var(--text);color:white;color:var(--bg)">
    ⬆ Back to top ⬆
</a>