<p>
    ebookmode leverages Mozilla's
    <a href="https://github.com/mozilla/readability">readability library</a> 
    to ease web browsing in ebook's browsers. It is also useful for browsing
    with capped speed.
</p>
<p>Enter a url on the input above to navigate to a site.</p>
<p>You can also set this site as the default home page of your ebook's browser.</p>